.RepoCard{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 585px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    text-transform: uppercase;
  }
  &-stars, &-created-at{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
  }
  &-btn{
    background: #3F3F3F;
    border-radius: 6px;
    padding: 9px 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
  }
}
